*{
    box-sizing: border-box;
}

body{
    background-color: #1c1d1e;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#1c1d1e;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    z-index: 99;
}
.content_nav{
    max-width:100rem;
    margin: 0 2rem auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    transition: 0.3s;
    font-family: 'Mea Culpa', cursive;
    padding: 0;
}
nav .logo:hover{
    color: teal;
    font-size: 2rem;
    transition: 1s;
}
nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: teal;
    cursor: pointer;
   
}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    margin-right: 2rem;
    
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color:white;
    transition: 0.3s;
}
.header{
    margin-right: 4rem;
}
ul li a:hover{
    border-top-color: teal;
    border-bottom-color: teal;
    color: teal;
    
}
#pro_pic{
    width: 40%;
    height: 25rem;
    padding: 1.5rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    border-radius: 1.5rem;
    background-color: #1c1d1e;
}

img{
    height: 22rem;
    width: 100%;
    border-radius: 1.5rem;
}
#pro_pic:hover{
    box-shadow: 4px 4px 15px teal;
    transition: 0.5s;
}
.nameD{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin-left: 10rem;
    background-color: #1c1d1e;
    width: 60%;
    height: 53%;
}
.nameD:hover{
    box-shadow: 4px 4px 15px teal;
    transition: 0.5s;
}
.icon{
    margin-top: -50px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
}
.Under_name{
    padding: 1rem;
    background-color: #1c1d1e;
    color: white;
    border-radius: 15px;
}
h1{
    color: white;
    text-align: center;
    margin-top: 2px;
    margin-top: 3rem;
}
.D_CV{
    height: 40%;
    width: 60%;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    color: white;
    margin: 2rem 0 0 10rem;
    text-align: center;
    padding-top:3rem;
    background-color: #1c1d1e;
}
.D_CV:hover{
    box-shadow: 4px 4px 15px teal;
    transition: 0.5s;
}
.container{
    display: flex;
    margin: 8rem 0 0 3rem;
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    color: white;
    border-radius: 0.3rem;
    /* margin: 0px 5px; */
    background-color: #1c1d1e;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    width: 10rem;
    height: 3rem;
}
.D_CV p{
    margin-top: -20px;
}
button:hover{
    box-shadow: 4px 4px 15px teal;
}
.new_line{
    height: 0.5rem;
    width: 90%;
    float: left;
    background: linear-gradient(135deg, rgb(4, 211, 166)0%, rgb(9, 112, 86)100%);
    border-radius: 1rem;
    margin: 30px 50px 50px 50px;
}
.Contact{
    width:450px;
    color: white;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: #1c1d1e;
}
.Contact:hover{
    box-shadow: 4px 4px 15px teal;
    transition: 0.5s;
}
#about1{
    display: flex;
    margin: 3rem;
}
.info{
    width: 450px;
    color: white;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin-left: 6rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: #1c1d1e;
}
.info:hover{
    box-shadow: 4px 4px 15px teal;
    transition: 0.5s;
}
.Outer_resume{
    width: 85%;
    display: flex;
    color: white;
    margin-top:60px ;
    margin-left: 70px;
    border-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
}
.resume1{
    height: 100px;
    width: 400px;
    text-align: center;
    font-size:2rem;
    padding-top:1.5rem;
    border-radius: 1rem;
    background-color: #1c1d1e;
}
.resume1:hover{
    border-radius: 1rem;
    box-shadow: 4px 4px 15px teal;
    color: red;
    border: 1px solid #1c1d1e;
}
.H_E{
    text-align: left;
    margin-left: 12rem;
}
 .outer_stick{
    display: flex;
    justify-content: flex-start;
} 
.stick{
    height: 16rem;
    width: 0.4rem;
    background-color:rgb(21, 21, 21);
    margin: 50px 0px 0px 100px;
}
.stick_h1{
    height:0.4rem;
    width:5rem;
    background-color:rgb(21, 21, 21);
    margin: 100px 0px 0px 0px;   
}
.Edu{
    width: 30rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin: 55px 60px 0px 0px;
    color: white;
    padding-top: 3rem;
    text-align: center;
    background-color: #1c1d1e;
}
.Edu:hover{
    box-shadow: 4px 4px 15px teal;
    color: teal;
}
.stick1{
    height: 18rem;
    width: 0.4rem;
    background-color:rgb(21, 21, 21);
    margin: 0px 0px 0px 100px ;
}
.stick_h2{
    height: 0.4rem;
    width: 5rem;
    background-color:rgb(21, 21, 21);
    margin: 80px 0px 0px 0px;   
}
.Edu1{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin: 30px 0px 0px 0px;
    color: white;
    padding-top: 3rem;
    text-align: center;
    background-color: #1c1d1e;
}
.Edu1:hover{
    box-shadow: 4px 4px 15px teal;
    color: teal;
}
.outer_content{
    display: flex;
}
.Out_intern{
    margin-left: 1rem;
    margin-bottom: 5rem;
}
.skill{
    width: 85%;
    height: 45rem;
    list-style: none;
    color: white;
    text-transform: uppercase;
    border-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    margin: 3rem 6rem;
    padding: 1rem 0px 0px 2rem;
    background-color: #1c1d1e;
}
.skill:hover{
    box-shadow: 4px 4px 15px teal;
}
.skill li{
    padding: 5px;
}
.bar{
    background-color: #353b48;
    display: block;
    height: 0.8rem;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0 , 0, 0, 0.12), 0 1px 2px rgba(0 , 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.25), 0 10px 10px rgba(0 , 0, 0, 0.22);
}
.bar span{
    height: 0.8rem;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgb(207, 27, 27)100%);
    border-radius: 0.6rem;
}
.html{
    width: 95%;
    animation: 1s;
}
.css{
    width: 90%;
    animation: 1s;
}
.java{
    width: 65%;
    animation: 1s;
}
.bootstrap{
    width: 90%;
    animation:1s;
}
.javascript{
    width: 70%;
    animation:1s;
}
.Tailwind{
    width: 90%;
    animation:1s;
}
.Figma{
    width: 60%;
    animation:1s;
}
.Canva{
    width: 70%;
    animation:1s;
}
.icon1{
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    margin-top: 1rem;
}
.icon1:hover{
    color: teal;
}
.pro_1{
    display: flex;
}
.pro_2{
    width: 16rem;
    height: 20rem; 
    margin: 4rem 0px 4rem 6rem;
    border-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80); 
    color: white;
    text-align: center;
    background-color: #1c1d1e;
    
}
.pro_2:hover{
    box-shadow: 4px 4px 15px teal;
    color: teal;
}
.pro_img{
    width: 15rem;
    height: 15rem;
    padding: 2rem;
}
.outer_contact{
    width: 50%;
    height: 55rem;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80); 
    margin:  50px 300px 50px 300px ;
    padding: 3rem  3rem 2rem 3rem ;
    background-color: #1c1d1e;
}
.outer_contact:hover{
    box-shadow: 4px 4px 15px teal;
}
label{
    color: white;
}
input{
    color: white;
    font-weight:bold ; 
}
textarea{
    color: white;
    font-weight:bold ;
}
textarea:hover{
    border: teal 2px solid; 
}
.det{
    background-color: rgb(23, 21, 21);
    border-radius: 0.2rem;
    border: 0.1rem solid black;
    box-shadow: 4px 8px -18px black;
    padding: .5rem ;
}
.det:hover{
    border: 2px solid teal;
}
#name{
    width: 100%;
}
#phone{
    width: 96%;
}
#email{
    width: 96%;
}
#sub{
    width: 96%;
}
#msg{
    height: 180px;
    width: 96%;
}
.send_msg{
    height: 3rem;
    width: 97%;
    color:red;
    font-size: 1.2rem;
    padding:0px;
    border-radius: 0.2rem;
    margin-top: 2rem;
    margin-left: 0px;
    background-color: #1c1d1e;
    box-shadow: 0 14px 28px rgba(0 , 0, 0, 0.80), 0 10px 10px rgba(0 , 0, 0, 0.80);
    background-color: #1c1d1e;
}
a{
    text-decoration: none;
    border: 2px solid transparent;
    color:black;
    font-weight: 800;
    color: white;
    padding: 10px;
}

.arrow a{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(232, 224, 224);
}

@media (width<600px){
    nav{
        height: 7%;
    }
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top:85px;
        background-color: #1c1d1e;
        flex-direction: column;
        justify-content: left;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
        
    }
    ul li a{
        font-size: 1.25rem;
    }
    .container{
        flex-wrap: wrap;
        margin: 6rem 0px 40px 3rem;
    }  
    .nameD{
        margin-left: 0rem;
    }
    .D_CV{
        margin-left: 0rem;
    }
    #about1{
        flex-wrap: wrap;
        margin-left: 0rem;
    }
    #about{
        margin-left: -3rem;
    }
    .Contact{
        width: 600px;
    }
    .info{
        width: 400px;
    }
    #resume{
        margin-left: -3rem;
    }
    .Outer_resume{
        width:550px;
    }
    .Edu{
        width: 450px;
    }
    .Edu1{
        width: 450px;
    }
    #education{
        margin-left: -3rem;
    }
    #internship{
        margin-left: -4rem;
    }
    .content{
        margin: 2rem 0px 40px 0px;
    }
    .outer_content{
        flex-wrap: wrap;
        margin: 40px 1rem 40px 1rem;
    }
    .skill{
        width: 500px;
        align-content: start;
        margin: 40px 1rem 40px 3rem;
        }
    .nussu{
       
        flex-wrap: wrap;
        margin: 40px 0px 40px -3rem;
    }
    .outer_contact{
        width: 520px;
       
        align-content: start;
        margin: 40px 1rem 40px 1rem;
       
    }
}